@import './varibales/global';
@import "./reset";

body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color:  var(--bg-color);
}

*::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color:  var(--inverted-bg-color);
}

button, input {
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid var(--black-color);
    background-color: white;
    cursor: pointer;
}



.row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
}