@import './varibales/global';
@import "./reset";

body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

*::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color:  var(--bg-color);
}

*::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color:  var(--inverted-bg-color);
}

