@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap';
@import "./reset";

:root {
    --bg-color: #F7F3FB;
    --inverted-bg-color: #6112AC;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: var(--bg-color);
    color: #242424;
}

*::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color:  var(--bg-color);
}

*::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color:  var(--inverted-bg-color);
}


button, input {
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}



.row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
}