.Navbar {
    display: flex;
    background-color: blueviolet;
    padding-top: 20px;
}

.NavLink {
    padding: 25px 20px;
    text-align: center;
    flex: 1 1 50%;
    background-color: blueviolet;
    color: white;
    border-radius: 20px 20px 0 0;
    font-size: 1.2rem;
    transition: all .3s ease;
}

.activeNavLink {
    background-color: white;
    color: black;

    &:hover {
        cursor: default;
    }
}

