.Navbar {
    height: var(--navbar-height);
    display: flex;
    align-items: end;
    background-color: var(--inverted-bg-color);
}

.NavLink {
    padding: 25px 20px;
    text-align: center;
    flex: 1 1 50%;
    background-color:  var(--inverted-bg-color);
    color: var(--bg-color);
    border-radius: 20px 20px 0 0;
    font-size: 1.2rem;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 0 0 0.1rem var(--bg-color);
        transform: translateY(-2px);
    }
}

.activeNavLink {
    background-color: var(--bg-color);
    color: var(--black-color);

    &:hover {
        cursor: default;
        box-shadow: none;
        transform: translateY(0);
    }
}

