.Page {
    flex-grow: 1;
    padding: 15px;
    height: calc(100vh - var(--navbar-height) - 70px);
    overflow-y: auto;
    flex-shrink: 100;
}

@media (width >=500px) {
    .Page {
        padding: 20px 20px 20px 45px;
    }
}

