.CheckboxItem {
    display: flex;
    gap: 5px;
    padding: 5px 10px;
    flex: 0 0 calc(33.33% - 10px); 

    cursor: pointer;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s ease;
}

.checked {
    background-color: blueviolet;
    color: white;
}