.reorderListWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 24px;
}
  
.item {
    font-size: 1.2rem;
    margin-top: 4px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-color);
    cursor: pointer;
    list-style-type: decimal;
    list-style-position: inside;
}

.drag {
    background-color: var(--gray-color);
}