.itemsWrapper {
    margin: 20px 0;
    width: 50vw;
}
  
.item {
    font-size: 1.2rem;
    border: 2px solid var(--black-color);
    margin-top: 4px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    list-style-type: decimal;
    list-style-position: inside;
}
  