.reorderListWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 24px;
}

.itemsWrapper {
    width: 100%;
    counter-reset: item; 
}
  
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 4px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-color);
    cursor: pointer;
    position: relative;
}

.item::before {
    position: absolute;
    content: counter(item) "."; 
    counter-increment: item; 
}

.itemText {
    margin-left: 20px;
}

.drag {
    background-color: var(--gray-color);
}