.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: var(--inverted-bg-color);
        color: var(--bg-color);
    }
}

.active {
    background-color: var(--inverted-bg-color);
    color: var(--bg-color);
}