.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: blueviolet;
        color: white;
    }
}

.active {
    background-color: blueviolet;
    color: white;
}