.fieldsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    background-color: white;
    border-radius: 18px;
    overflow-y: auto;
}

.fieldsContainer {
    padding: 20px 15px;
    background-color: white;
    border-radius: 24px;
    width: 100%;
}
